$logibFieldBorder: rgb(134, 138, 207);
$boxShadow: rgb(72, 83, 171);
$bgColor: hsl(270, 100%, 4%);
$LightBgColor: hsl(270, 100%, 7%);
$textColor: #CCCCCC;
$errorBorderColor: rgb(207, 34, 46);

$uncheckedImage: url(../../img/Icons/showedEye.svg);
$checkedImage: url(../../img/Icons/hiddenEye.svg);
$moon: url(../../img/moon.png);
$logo: url(../../img/Logo.png);
$stars: url(../../img/paralax/stars.png);

$user: '<img width="50" height="50" src="https://img.icons8.com/ios/50/user--v1.png" alt="user--v1"/>';