$logibFieldBorder: rgba(255, 255, 255, 0.2);
$bgColor: rgb(10, 0, 20);
$textColor: #CCCCCC;
$errorBorderColor: rgb(207, 34, 46);

$uncheckedImage: url(../../img/Icons/showedEye.svg);
$checkedImage: url(../../img/Icons/hiddenEye.svg);