@import 'main';
@import 'mouse-paralax';

body {
    overflow: hidden;
}

.loginForm {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 16 / 10;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    border: 3px solid $logibFieldBorder;
    border-radius: 16px;
    backdrop-filter: blur(20px);

    input {
        padding: 15px 0 5px 15px;
        background: transparent;
        
        outline: none;
        border: none;
        border-bottom: 1px solid $logibFieldBorder;

        font-size: 1.025em;
        font-weight: bolder;
        letter-spacing: 0.07em;
        color: $textColor;

        transition-duration: .3s;

        &:focus-visible::placeholder {
            translate: 0 -100%;
            font-size: smaller;
            letter-spacing: 0.02em;
        }

        &::placeholder {
            transition-duration: .2s;
            position: absolute;
        }

        &.inputError {
            border-bottom: 1px solid $errorBorderColor;
        }
    }

    .passwordHolder {
        position: relative;

        // svg {
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     translate: 0 -50%;

        //     transition-duration: .2s;
        //     opacity: 0;

        //     &.activeSvg {
        //         opacity: 1;
        //     }
        // }
    }
}