@import '_var';

* {
    box-sizing: border-box;
    user-select: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    background-color: $bgColor;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.loginForm, .registerForm {
    .holderP {
        display: block !important;
        position: absolute;
        right: 10px;
        top: calc(100% + 10px);

        .postScriptum {
            position: relative;
            margin: 0;
            color: white;
            cursor: pointer;
    
            &::after {
                content: '';
                width: 0;
                height: 3px;
                background: linear-gradient(transparent, black 30%, black 70%, transparent);
                bottom: -5px;
                left: 50%;
                translate: -50% 0;
                position: absolute;
                transition-duration: .3s;
            }
    
            &:hover::after, &:active::after, &:focus-visible::after {
                width: 100%!important;
            }
    }

    }
    .passwordVisibility {
        margin: 0;
        padding: 0;
    
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
    
        width: 30px;
        height: 24px;
    
        background-image: $uncheckedImage;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        cursor: pointer;
        appearance:none;
    
        border-bottom: none!important;
    
    
        &:checked {
            background-image: $checkedImage!important;
        }
    }

    button.submit {
        cursor: pointer;
        position: relative;
        background: transparent;
        outline: none;
        border: none;

        font-size: 1.025em;
        font-weight: bolder;
        letter-spacing: 0.07em;
        color: $textColor;

        &::after {
            content: '';
            width: 0;
            height: 1px;
            background-color: $logibFieldBorder;
            bottom: -5px;
            left: 50%;
            translate: -50% 0;
            position: absolute;
            transition-duration: .3s;
        }

        &:hover::after, &:active::after, &:focus-visible::after {
            width: 100%!important;
        }
    }
}

.refresher {
    z-index: 999999;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    display: none;

    background-image: $moon;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.blur {
    z-index: 99998;
    display: none;

    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    pointer-events: none;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    height: 250px;
    width: 100%;

    border-bottom: 1px solid $logibFieldBorder;

    padding: 0 15% 0 15%;

    box-shadow: 
        0px 0px 30px 1px $boxShadow;

    img {
        height: 90%;

        
    }

    .user {
        img {
            padding: 15px;
            border-radius: 69%;
            transition-duration: .3s;

            &:hover {
                cursor: pointer;
                background-color: $LightBgColor;
                transition-duration: .1s;
            }
        }
    }
}

