* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(270, 100%, 4%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.loginForm .passwordVisibility {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 30px;
  height: 24px;
  background-image: url(../../img/Icons/showedEye.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-bottom: none !important;
}
.loginForm .passwordVisibility:checked {
  background-image: url(../../img/Icons/hiddenEye.svg) !important;
}

.refresher {
  z-index: 999999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url(../../img/moon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blur {
  z-index: 99998;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 100%;
  border-bottom: 1px solid rgb(134, 138, 207);
  padding: 0 10% 0 10%;
  box-shadow: 0px 0px 30px 1px rgb(72, 83, 171);
}
header img {
  height: 90%;
}
header .user img {
  padding: 15px;
  border-radius: 69%;
  transition-duration: 0.3s;
}
header .user img:hover {
  cursor: pointer;
  background-color: hsl(270, 100%, 7%);
  transition-duration: 0.1s;
}

.paralax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.paralax img {
  position: absolute;
  min-width: 100%;
  scale: 1.05;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}
.paralax .registerForm, .paralax .loginForm {
  box-shadow: 0px 0px 30px 1px rgb(72, 83, 171), inset 0px 0px 30px 0px rgb(72, 83, 171);
}

body {
  overflow: hidden;
}

.loginForm {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 16/10;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid rgb(134, 138, 207);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.loginForm input {
  padding: 15px 0 5px 15px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(134, 138, 207);
  font-size: 1.025em;
  font-weight: bolder;
  letter-spacing: 0.07em;
  color: #CCCCCC;
  transition-duration: 0.3s;
}
.loginForm input:focus-visible::-moz-placeholder {
  translate: 0 -100%;
  font-size: smaller;
  letter-spacing: 0.02em;
}
.loginForm input:focus-visible::placeholder {
  translate: 0 -100%;
  font-size: smaller;
  letter-spacing: 0.02em;
}
.loginForm input::-moz-placeholder {
  transition-duration: 0.2s;
  position: absolute;
}
.loginForm input::placeholder {
  transition-duration: 0.2s;
  position: absolute;
}
.loginForm input.inputError {
  border-bottom: 1px solid rgb(207, 34, 46);
}
.loginForm button {
  cursor: pointer;
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.025em;
  font-weight: bolder;
  letter-spacing: 0.07em;
  color: #CCCCCC;
}
.loginForm button::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: rgb(134, 138, 207);
  bottom: -5px;
  left: 50%;
  translate: -50% 0;
  position: absolute;
  transition-duration: 0.3s;
}
.loginForm button:hover::after, .loginForm button:active::after, .loginForm button:focus-visible::after {
  width: 100% !important;
}
.loginForm .passwordHolder {
  position: relative;
}
.loginForm .passwordHolder svg {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  transition-duration: 0.2s;
  opacity: 0;
}
.loginForm .passwordHolder svg.activeSvg {
  opacity: 1;
}