.paralax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.paralax img.paralax-elem {
  position: absolute;
  min-width: 100%;
  scale: 1.05;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}
.paralax .registerForm, .paralax .loginForm {
  box-shadow: 0px 0px 30px 1px rgb(72, 83, 171), inset 0px 0px 30px 0px rgb(72, 83, 171);
}